<!DOCTYPE html>
<html>
    <head>
        <title>Retro To-Do</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/style.css">
        <script src="https://kit.fontawesome.com/0c6e5c5cde.js" crossorigin="anonymous"></script>
    </head>
    <body>        
        <div id="app" class="container" v-cloak>

            <div id="start-screen" v-if="!appStarted">
                <img id="start-screen-star" class="mb-4" src="assets/images/star.png" alt="retro star icon">
                <h1 class="mb-4">Retro Tasks</h1>
                <p class="mb-4">Complete tasks to earn stars and level up. You got this!</p>
                <button @click="startApp">Start</button>
            </div>

            <div id="to-do-app" v-if="appStarted">
                <div id="app-header" class="mb-4">
                    <h1 id="app-title">Retro Tasks</h1>
                    <button @click="endApp" id="end-button">Exit</button>
                </div>

                <div class="level-row mb-4">
                    <div class="level-section">
                        <p class="m-0">Score: 0</p>
                        <img class="level-icon" src="assets/images/star.png" alt="star icon">
                    </div>
                    <div class="level-section">
                        <p class="m-0">Level: 0</p>
                        <img class="level-icon" src="assets/images/heart.png" alt="star icon">
                    </div>
                </div>

                <div class="new-task-row mb-5">
                    <input v-model="newTask" class="new-task-input" type="text" placeholder="Add a new task">
                    <button @click="createNewTask">Add</button>
                </div>

                <h2>To Do:</h2>
                <ul id="tasks-list">
                    <li class="task-item mb-3" v-for="task in tasks">
                        <span v-bind:class="{ completed: task.completed }">
                            {{ task.desc }}
                        </span>
                        <span>
                            <span class="cursor-pointer completed-icon" @click="toggleCompleted(task)"><i class="fas fa-check"></i></span>
                            <span class="cursor-pointer delete-icon" @click="deleteTask(task)"><i class="fas fa-trash-alt"></i></span>
                        </span>
                    </li>   
                </ul>
            </div>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    appStarted: false,
                    newTask: '',
                    tasks: []
                },
                methods: {
                    startApp() {
                        this.appStarted = true;
                    },
                    endApp() {
                        this.appStarted = false;
                    },
                    createNewTask() {
                        if (this.newTask.length > 0) {
                        this.tasks.push({
                            desc: this.newTask,
                            completed: false
                        });
                        this.newTask = '';
                        } else {
                            alert('Please enter a task first!');
                        }
                    },
                    deleteTask(task) {
                        let index = this.tasks.indexOf(task);
                        if (index !== -1) {
                            this.tasks.splice(index, 1);
                        }
                    },
                    toggleCompleted(task) {
                        task.completed = !task.completed;
                    },
                 }
            });
        </script>
    </body>
</html>