<!DOCTYPE html>
<html>
    <head>
        <title>Retro To-Do</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/css/style.css">

    </head>
    <body>        
        <div id="app" class="container" v-cloak>

            <div id="start-screen" v-if="!appStarted">
                <h1>Retro To Do</h1>
                <h2>Complete tasks to earn points and stars. You got this!</h2>
                <button @click="startApp">Start</button>
            </div>

            <div id="to-do-app" v-if="appStarted">
                <h1>Retro To-Do App</h1>
                <button @click="endApp">End</button>

                <h2>What do you need to do today?</h2>
                <input v-model="newTask" type="text" placeholder="New task">
                <button @click="createNewTask">Add</button>

                <h2>To Do:</h2>
                <ul>
                    <span v-for="task in tasks">
                        <input type="checkbox" v-model="task.completed">
                        <li >{{ task.desc }}</li>
                        <button @click="deleteTask(task)">Delete</button>
                    </span>
                </ul>
            </div>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    appStarted: false,
                    newTask: '',
                    tasks: []
                },
                methods: {
                    startApp() {
                        this.appStarted = true;
                    },
                    endApp() {
                        this.appStarted = false;
                    },
                    createNewTask() {
                        this.tasks.push({
                            desc: this.newTask,
                            completed: false
                        });
                        this.newTask = '';
                    },
                    deleteTask(task) {
                        var index = this.tasks.indexOf(task);
                        if (index !== -1) {
                        this.tasks.splice(index, 1);
                        }
                    }
                }
            });
        </script>
    </body>
</html>