[v-cloak] {
    display: none
}

/* GENERAL STYLING */

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #7b82d6;
    background-image: url("../images/white-cloud.png");
    background-repeat: repeat-x;
    background-position-y: -10%;
}

h1, h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    color: #7b82d6;
}

button {
    background: none;
    border: 2px dashed #7b82d6;
    color: black;
    padding: 1rem;
    border-radius: 15px;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    transition: transform .4s;
}

button:hover {
    transform: scale(1.1);
}

i {
    transition: transform .3s; 
}

i:hover {
    transform: scale(1.2);
}

input {
    background: none;
    border: 2px dashed #7b82d6;
    color: black;
    padding: 1rem;
    border-radius: 15px;
}

input:focus {
    outline: none;
}

.cursor-pointer {
    cursor: pointer;
}

#app {
    max-width: 800px;
}

/* START SCREEN STYLING */

#start-screen {
    padding: 50px;
    max-width: 400px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 12px 12px 0 0 #3a3a3a;
    text-align: center;
}

#start-screen-star {
    height: 40px;
}

@keyframes up-down {
    0% {
      transform: translateY(2px);
    }
    50% {
      transform: translateY(-2px);
    }
    100% {
      transform: translateY(2px);
    }
}

#start-screen h1 {
    animation: up-down 1s infinite;
}

/* MAIN APP STYLING */

#to-do-app {
    padding: 50px;
    max-width: 600px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 12px 12px 0 0 #3a3a3a;
    max-height: 80vh;
    overflow-y: scroll;
}

#app-title {
    margin: 0;
}

#end-button {
    background-color: #d11a2a;
    color: white;
    border: none;
    font-size: 0.6rem;
    padding: 0.6rem;
}

#app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.level-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.level-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.level-icon {
    margin-left: 12px;
    height: 24px;
}

.new-task-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-task-input {
    margin-right: 40px;
}

.to-do-container::-webkit-scrollbar {
    width: 10px;
}

.to-do-container::-webkit-scrollbar-thumb {
    background-color: #7b82d6;
    border-radius: 20px;
    height: 5px;
}

.to-do-container::-webkit-scrollbar-track {
    background: rgb(133, 133, 133);
}

.to-do-container {
    max-height: 32vh;
    overflow-y: auto;
}

#tasks-list {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-right: 10px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: #7b82d6;
    opacity: 0.7;
}

.completed-icon {
    color: #32A956;
    font-size: 1.2rem;
}

.delete-icon {
    color: #d11a2a;
    font-size: 1.2rem;
}

/* DARK THEME STYLING */

body.dark-theme {
    background-image: url('../images/moon.png'), url('../images/stars.png');
    background-repeat: no-repeat, repeat;
    background-position: right top, top;
    background-size: 180px, auto;
    color: white;
    background-color: black;
}

body.dark-theme h1, body.dark-theme h2 {
    color: #06e514;
}

body.dark-theme #start-screen, body.dark-theme #to-do-app {
    background-color: rgb(41, 41, 41);
}

body.dark-theme button {
    color: white;
    border: 2px dashed #06e514;
}

body.dark-theme input {
    border: 2px dashed #06e514;
    color: white;
}

body.dark-theme .completed {
    color: #06e514;
}